force-app/main/default/flows/Assingement_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>AssinedAs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EMS_TM_AssignedAs__c</picklistField>
        <picklistObject>EMS_TM_Assignment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Staus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EMS_TM_Status_Asgn__c</picklistField>
        <picklistObject>EMS_TM_Assignment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Assingement Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assingement Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Assinment_create</name>
        <label>Assinment create</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>EMS_TM_AssignedAs__c</field>
            <value>
                <elementReference>AssignedAs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_TM_EmployeeName__c</field>
            <value>
                <elementReference>EmployeeName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_TM_EndDate_Asgn__c</field>
            <value>
                <elementReference>EndDate_Asgn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_TM_ProjectName_Asgn__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_TM_StartDate_Asgn__c</field>
            <value>
                <elementReference>StartDate_Asgn</elementReference>
            </value>
        </inputAssignments>
        <object>EMS_TM_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Assingmntfow</name>
        <label>Assingement</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assinment_create</targetReference>
        </connector>
        <fields>
            <name>Number_of_allocated_hours</name>
            <dataType>Number</dataType>
            <fieldText>Number of allocated hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>EmployeeName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>EMS_TM_EmployeeName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>EmployeeName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>EMS_TM_Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>StartDate_Asgn</name>
            <dataType>Date</dataType>
            <fieldText>StartDate Asgn</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EndDate_Asgn</name>
            <dataType>Date</dataType>
            <fieldText>EndDate Asgn</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AssignedAs</name>
            <choiceReferences>AssinedAs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assigned As</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assingmntfow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
