force-app/main/default/flows/Assignment_Flow_V1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>AssinedAs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EMS_TM_AssignedAs__c</picklistField>
        <picklistObject>EMS_TM_Assignment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Staus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EMS_TM_Status_Asgn__c</picklistField>
        <picklistObject>EMS_TM_Assignment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EndDateCheck</name>
        <dataType>Boolean</dataType>
        <expression>   OR( ({!EndDate_Asgn} &lt; {!rec.EMS_TM_EndDate__c}) ,
 ({!EndDate_Asgn} &gt; {!rec.EMS_TM_StartDate__c})  )</expression>
    </formulas>
    <formulas>
        <name>StartDateCheck</name>
        <dataType>Boolean</dataType>
        <expression>{!StartDate_Asgn}  &gt;= {!rec.EMS_TM_StartDate__c}</expression>
    </formulas>
    <interviewLabel>Assignment  Flow V1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment  Flow V1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Assinment_create</name>
        <label>Assinment create</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <faultConnector>
            <targetReference>fault_screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EMS_TM_AssignedAs__c</field>
            <value>
                <elementReference>AssignedAs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_TM_EmployeeName__c</field>
            <value>
                <elementReference>EmployeeName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_TM_EndDate_Asgn__c</field>
            <value>
                <elementReference>EndDate_Asgn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_TM_ProjectName_Asgn__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_TM_StartDate_Asgn__c</field>
            <value>
                <elementReference>StartDate_Asgn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_TM_Status_Asgn__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>EMS_TM_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>rec</name>
        <label>rec</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assingmntfow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EMS_TM_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assingmntfow</name>
        <label>Assingement</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assinment_create</targetReference>
        </connector>
        <fields>
            <name>EmployeeName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>EMS_TM_EmployeeName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>EMS_TM_Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>StartDate_Asgn</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter the date between project StartDate and EndDate dates only.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!StartDateCheck}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>EndDate_Asgn</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter the date between project StartDate and EndDate dates only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!EndDateCheck}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Staus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AssignedAs</name>
            <choiceReferences>AssinedAs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assigned As</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>fault_screen</name>
        <label>fault screen</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 8, 31);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>rec</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
