force-app/main/default/flows/Check_In_Email_Alert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email to Check-In By Contact</description>
        <name>Email_to_Check_In_By</name>
        <label>Email to Check-In-By</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Goal__c.Check_In_Alert_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_to_Resource</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Goal__c.Check_In_Alert_1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Email to &quot;Resource&quot; Contact When CHECK IN record is created</description>
        <name>Email_to_Resource</name>
        <label>Email to Resource</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Goal__c.Check_In_Alert_2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Goal__c.Check_In_Alert_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Check-In Email Alert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check-In Email Alert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_to_Check_In_By</targetReference>
        </connector>
        <filterFormula>({!$Record.RecordType.DeveloperName} == &apos;checkin&apos;) &amp;&amp; ({!$Record.Resource__r.Email}  &lt;&gt; Null) &amp;&amp; ({!$Record.Check_In_By__r.Email} &lt;&gt; Null) &amp;&amp; NOT((ISNULL({!$Record.Check_in_Date__c})))</filterFormula>
        <object>Goal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
