force-app/main/default/flows/Compensation_Email_Alert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email to HR when Compensation Record is Created</description>
        <name>Created_Alert</name>
        <label>Created Alert</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Compensation__c.Compensation_Created_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Compensation__c.Compensation_Created_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Email to HR when Compensation Record is Updated</description>
        <name>Update_Alert</name>
        <label>Update Alert</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Compensation__c.Compensation_Updated_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Compensation__c.Compensation_Updated_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HRProfile</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdminProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Alert</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appraisal_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Appraisal_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Appraisal_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Next_Appraisal_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finalized_Hike__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Finalized_Hike__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdminProfile</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HRProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Alert</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <description>Send Email to HR when Compensation Record is Updated/Created</description>
    <environments>Default</environments>
    <interviewLabel>Compensation Email Alert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compensation Email Alert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reviewed_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Compensation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AdminProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </variables>
    <variables>
        <name>HRProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Employee - HR(Community)</stringValue>
        </value>
    </variables>
</Flow>
