force-app/main/default/flows/Create_Project_Assignee_on_Project_Manager_Allocation_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_Project_Assignee_Field_Values2</name>
        <label>Set Project Assignee Field Values</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_ProjectName_Asgn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_AssignedAs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.Project_Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultProjectAallocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_StartDate_Asgn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EMS_TM_StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_EndDate_Asgn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EMS_TM_EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_Billable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_Status_Asgn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_EmployeeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project_Assignee2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Values_for_Platform_Event</name>
        <label>Copy 1 of Values for Platform Event</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>platformEventProjectAssignee.projectAssigneeId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectAssigneetobeInserted.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>platformEventProjectAssignee.projectAssigneeProjectName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Publish_Platform_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Assignee_Field_Values1</name>
        <label>Set Project Assignee Field Values</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_ProjectName_Asgn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_AssignedAs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.Project_Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultProjectAallocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_StartDate_Asgn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EMS_TM_StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_EndDate_Asgn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EMS_TM_EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_Billable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_Status_Asgn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectAssigneetobeInserted.EMS_TM_EmployeeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Offshore_Project_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project_Assignee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Values_for_Platform_Event</name>
        <label>Values for Platform Event</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>platformEventProjectAssignee.projectAssigneeId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectAssigneetobeInserted.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>platformEventProjectAssignee.projectAssigneeProjectName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Platform_Event</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>defaultProjectAallocation</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Manager_Field_Updated</name>
        <label>Manager Field Updated</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offshore_Manager_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Offshore_Project_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Offshore_Project_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Project_Assignee_Field_Values1</targetReference>
            </connector>
            <label>Offshore Manager Populated</label>
        </rules>
        <rules>
            <name>Onshore_Manager_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Project_Assignee_Field_Values2</targetReference>
            </connector>
            <label>Onshore Manager Populated</label>
        </rules>
    </decisions>
    <description>Copy Of Create Project Assignee on Project Manager Allocation</description>
    <environments>Default</environments>
    <formulas>
        <description>Assigning Status Value based on Current Date.
Status = Scheduled, if current date &lt; Start Date 
Status = Active, if Current Date &gt;= Start Date</description>
        <name>Status</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.EMS_TM_StartDate__c} &gt;= TODAY(), &apos;Scheduled&apos;, &apos;Active&apos;)</expression>
    </formulas>
    <interviewLabel>Create Project Assignee on Project Manager Allocation 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy : Create Project Assignee on Project Manager Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Publish_Platform_Event</name>
        <label>Copy 1 of Publish Platform Event</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>platformEventProjectAssignee</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Assignee</name>
        <label>Create Project Assignee</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Values_for_Platform_Event</targetReference>
        </connector>
        <inputReference>ProjectAssigneetobeInserted</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Assignee2</name>
        <label>Create Project Assignee</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Copy_1_of_Values_for_Platform_Event</targetReference>
        </connector>
        <inputReference>ProjectAssigneetobeInserted</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Publish_Platform_Event</name>
        <label>Publish Platform Event</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>platformEventProjectAssignee</inputReference>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Manager_Field_Updated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Project_Manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Offshore_Project_Manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EMS_TM_Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable for projectAssigneeCreated platform event</description>
        <name>platformEventProjectAssignee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>projectAssigneeCreated__e</objectType>
    </variables>
    <variables>
        <name>ProjectAssigneetobeInserted</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMS_TM_Assignment__c</objectType>
    </variables>
</Flow>
