force-app/main/default/flows/createPMConfigureRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_PM_Ans_config_record_for_mentor</name>
        <label>Add PM Ans Config Record For Mentor</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>PM_Ans_Confg_Mentor_Var.Related_Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_PM_configure_Records_for_mentor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Confg_Mentor_Var.KRA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Confg_Mentor_Var.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PM_Answer_ConfigName_Mentee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Confg_Mentor_Var.Mentor_Mentee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resource_Reports_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Confg_Mentor_Var.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Answer_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Confg_Mentor_Var.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Confg_Mentor_Var.Fiscal_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fulfillment__r.Fiscal_Year__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PM_configure_record_for_mentor_to_ListVar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PM_Ans_Config_records_for_Mentee</name>
        <label>Add PM Ans Config records for Mentee</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>PM_Ans_Config_Records_Var.Related_Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_PM_Configure_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Config_Records_Var.KRA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Config_Records_Var.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PM_Answer_ConfigName_Mentee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Config_Records_Var.Mentor_Mentee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Config_Records_Var.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Answer_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Config_Records_Var.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PM_Ans_Config_Records_Var.Fiscal_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fulfillment__r.Fiscal_Year__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PM_Ans_Config_records_to_List_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PM_Ans_Config_records_to_List_Var</name>
        <label>Add PM Ans Config records to List Var</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>PM_Ans_Config_ListVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PM_Ans_Config_Records_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_PM_Configure_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PM_configure_record_for_mentor_to_ListVar</name>
        <label>Add PM configure record for mentor to ListVar</label>
        <locationX>138</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>PM_Ans_Config_ListVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PM_Ans_Confg_Mentor_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_PM_configure_Records_for_mentor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_PM_configure_is_null_or_not</name>
        <label>Check the PM configure is null or not</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_the_PM_configure_is_null_or_not1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_PM_configure_records_based_on_RR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Resource_Relationship_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_PM_Configure_Records</targetReference>
            </connector>
            <label>Check the PM configure is null or not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_Mentor_is_there_or_not</name>
        <label>Check whether Mentor is there or not</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_whether_Mentor_is_there_or_not1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Resource_Relationship_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_the_PM_configure_Records_for_mentor</targetReference>
            </connector>
            <label>Check whether Mentor is there or not</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PM_Answer_Config_MentorName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Resource__r.ContactName__c} +&apos; &apos; + &apos;-&apos; +&apos; &apos; + TEXT({!Loop_over_the_PM_configure_Records_for_mentor.Area__c}) + &apos; &apos; + &apos;-&apos; +{!Loop_over_the_PM_configure_Records_for_mentor.Question__c}</expression>
    </formulas>
    <formulas>
        <name>PM_Answer_ConfigName_Mentee</name>
        <dataType>String</dataType>
        <expression>{!$Record.Resource__r.ContactName__c} +&apos; &apos; + &apos;-&apos; +&apos; &apos; + TEXT({!Loop_over_PM_Configure_Records.Area__c}) + &apos; &apos; + &apos;-&apos; +&apos; &apos; +{!Loop_over_PM_Configure_Records.Question__c}</expression>
    </formulas>
    <interviewLabel>createPMConfigureRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreatePMConfigureRecords</label>
    <loops>
        <name>Loop_over_PM_Configure_Records</name>
        <label>Loop over PM Configure Records</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <collectionReference>Fetch_PM_configure_records_based_on_RR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_PM_Ans_Config_records_for_Mentee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_whether_Mentor_is_there_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_the_PM_configure_Records_for_mentor</name>
        <label>Loop over the PM configure Records for mentor</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>Fetch_PM_configure_records_based_on_RR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_PM_Ans_config_record_for_mentor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PM_Config_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PM_Config_Records</name>
        <label>Create PM Config Records</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <inputReference>PM_Ans_Config_ListVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Answer_Record_Type</name>
        <label>Fetch Answer Record Type</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_PM_configure_is_null_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM_Configure__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Answer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_PM_configure_records_based_on_RR</name>
        <label>Fetch PM configure records based on Resource Role</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Resource_Relationship_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourceRoleVariable</elementReference>
            </value>
        </filters>
        <filters>
            <field>Configuration_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KRA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PM_Configure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Resource_Relationship_Records</name>
        <label>Fetch Resource Relationship Records</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Answer_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Relationship_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mentor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resource__c</elementReference>
            </value>
        </filters>
        <object>Resource_Resource_Relationship__c</object>
        <outputAssignments>
            <assignToReference>Resource_Reports_To</assignToReference>
            <field>Resource_Reports_To__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_PM_configure_records_based_on_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KRA</stringValue>
            </value>
        </filters>
        <object>Goal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FiscalYearVar1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Loop_over_PM_Configure_Records.KRA__r.Fulfillment__r.Fiscal_Year__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>KraRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>KRA</stringValue>
        </value>
    </variables>
    <variables>
        <name>PM_Ans_Confg_Mentor_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PM_Configure__c</objectType>
    </variables>
    <variables>
        <name>PM_Ans_Config_ListVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PM_Configure__c</objectType>
    </variables>
    <variables>
        <name>PM_Ans_Config_Records_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PM_Configure__c</objectType>
    </variables>
    <variables>
        <name>Resource_Reports_To</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceRoleVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Resource__r.Resource_Role__c</elementReference>
        </value>
    </variables>
</Flow>
