force-app/main/default/flows/Director_s_leave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>approvedleave</name>
        <label>approvedleave</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>EMS_LM_Leave_History__c.Director_s_leave_approved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Director&apos;s leave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Director&apos;s leave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>approved</name>
        <label>approved</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>approvedleave</targetReference>
        </connector>
        <inputAssignments>
            <field>EMS_LM_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>approved</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.EMS_LM_Contact__r.EMS_RM_Current_Job_Role__c}, &quot;Director of Sales&quot;)</filterFormula>
        <object>EMS_LM_Leave_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
