force-app/main/default/flows/Goal_Record_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GCEM</name>
        <label>GCEM</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_Mentors1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_Mentors1.Resource_Reports_To__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply.grid@cloudperitus.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Goal Creation Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Iterate_Mentors1.Resource_Reports_To__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>GoalCreatedTemplateforMentor.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GCOEM</name>
        <label>GCOEM</label>
        <locationX>754</locationX>
        <locationY>1379</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_Mentors2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_Mentors2.Resource_Reports_To__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply.grid@cloudperitus.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Goal Completion Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Iterate_Mentors2.Resource_Reports_To__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>GoalCompletionOnTimeTemplateforMentor.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GCPEM</name>
        <label>GCPEM</label>
        <locationX>1370</locationX>
        <locationY>1379</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_Mentors3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_Mentors3.Resource_Reports_To__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply.grid@cloudperitus.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Goal Completion Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Iterate_Mentors3.Resource_Reports_To__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>GoalCompletionPostTimeTemplateforMentor.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GMEM</name>
        <label>GMEM</label>
        <locationX>1986</locationX>
        <locationY>1379</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_Mentors4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_Mentors4.Resource_Reports_To__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply.grid@cloudperitus.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Goal Completion Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Iterate_Mentors4.Resource_Reports_To__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>GoalMissedTemplateforMentor.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Goal_Completion_Email</name>
        <label>Goal Completion Email</label>
        <locationX>930</locationX>
        <locationY>1055</locationY>
        <actionName>Goal__c.Goal_Completion_On_Time_Alert_for_Mentee</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Goal_Completion_Email2</name>
        <label>Goal Completion Email</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <actionName>Goal__c.Goal_Completion_On_Time_Alert_for_Mentee</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GoalCompletionOnTimeTemplateforMentor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>When a &quot;GOAL&quot; is created send confirmation email to  Resource</description>
        <name>Goal_Created_Email</name>
        <label>Goal Created Email</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <actionName>Goal__c.Goal_Created_Alert_for_Mentee</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>When a &quot;GOAL&quot; is created send confirmation email to  Resource</description>
        <name>Goal_Created_Email2</name>
        <label>Goal Created Email</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>Goal__c.Goal_Created_Alert_for_Mentee</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GoalCreatedTemplateforMentor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Goal_Missed_Email</name>
        <label>Goal Missed Email</label>
        <locationX>2162</locationX>
        <locationY>1055</locationY>
        <actionName>Goal__c.Goal_Missed_Alert_for_Mentee</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Goal_Missed_Email2</name>
        <label>Goal Missed Email</label>
        <locationX>1898</locationX>
        <locationY>1055</locationY>
        <actionName>Goal__c.Goal_Missed_Alert_for_Mentee</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GoalMissedTemplateforMentor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Completion_Email</name>
        <label>Post Completion Email</label>
        <locationX>1546</locationX>
        <locationY>1055</locationY>
        <actionName>Goal__c.Goal_Completion_Post_Time_Alert_for_Mentee</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Completion_Email2</name>
        <label>Post Completion Email</label>
        <locationX>1282</locationX>
        <locationY>1055</locationY>
        <actionName>Goal__c.Goal_Completion_Post_Time_Alert_for_Mentee</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GoalCompletionPostTimeTemplateforMentor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <collectionProcessors>
        <name>Mentor_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Mentor Records</label>
        <locationX>1524</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Mentor_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_RR_Data</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Mentor_Records.Relationship_Type__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Mentor</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>RR_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Check the status value and send email respectively</description>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>1612</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - OnTime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed - OnTime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mentor2</targetReference>
            </connector>
            <label>On Time</label>
        </rules>
        <rules>
            <name>Post_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - PostTime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed - PostTime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mentor3</targetReference>
            </connector>
            <label>Post Time</label>
        </rules>
        <rules>
            <name>Missed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Missed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mentor4</targetReference>
            </connector>
            <label>Missed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mentor1</name>
        <label>Mentor</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Goal_Created_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mentor_Aassigned1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mentor_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Goal_Created_Email2</targetReference>
            </connector>
            <label>Mentor Aassigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mentor2</name>
        <label>Mentor</label>
        <locationX>798</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Goal_Completion_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mentor_Aassigned2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mentor_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Goal_Completion_Email2</targetReference>
            </connector>
            <label>Mentor Aassigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mentor3</name>
        <label>Mentor</label>
        <locationX>1414</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Post_Completion_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mentor_Aassigned3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mentor_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Completion_Email2</targetReference>
            </connector>
            <label>Mentor Aassigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mentor4</name>
        <label>Mentor</label>
        <locationX>2030</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Goal_Missed_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mentor_Aassigned4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mentor_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Goal_Missed_Email2</targetReference>
            </connector>
            <label>Mentor Aassigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Updated</name>
        <label>New or Updated</label>
        <locationX>1436</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mentor1</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Goal Record Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Goal Record Email Alerts</label>
    <loops>
        <name>Iterate_Mentors1</name>
        <label>Iterate Mentors</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>Mentor_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GCEM</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_Mentors2</name>
        <label>Iterate Mentors</label>
        <locationX>666</locationX>
        <locationY>1271</locationY>
        <collectionReference>Mentor_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GCOEM</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_Mentors3</name>
        <label>Iterate Mentors</label>
        <locationX>1282</locationX>
        <locationY>1271</locationY>
        <collectionReference>Mentor_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GCPEM</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_Mentors4</name>
        <label>Iterate Mentors</label>
        <locationX>1898</locationX>
        <locationY>1271</locationY>
        <collectionReference>Mentor_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GMEM</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>RR_Loop</name>
        <label>RR Loop</label>
        <locationX>1436</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_RR_Data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mentor_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_or_Updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch the Resource Relationship record where the Resource is Goal Resouce and Relationship Type contains Mentor.
We are doing this to send email alert to mentor.</description>
        <name>Get_RR_Data</name>
        <label>Get RR Data</label>
        <locationX>1436</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RR_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resource__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Resource_Reports_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Resource_Resource_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GoalCompletionOnTimeTemplateforMentor</name>
        <label>Goal Completion On Time Template for Mentor</label>
        <locationX>666</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Mentors2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goal_Completion_On_Time_Template_for_Mentor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GoalCompletionPostTimeTemplateforMentor</name>
        <label>Goal Completion Post Time Template for Mentor</label>
        <locationX>1282</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Mentors3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goal_Completion_Post_Time_Template_for_Mentor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GoalCreatedTemplateforMentor</name>
        <label>Goal Created Template for Mentor</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Mentors1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goal_Created_Template_for_Mentor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GoalMissedTemplateforMentor</name>
        <label>Goal Missed Template for Mentor</label>
        <locationX>1898</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Mentors4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goal_Missed_Template_for_Mentor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RR_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resource__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Goal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Mentor_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Resource_Relationship__c</objectType>
    </variables>
    <variables>
        <name>Mentors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Resource_Relationship__c</objectType>
    </variables>
</Flow>
