force-app/main/default/flows/Hr_Approve_Education_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Education_details</name>
        <label>Education details</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Graduate_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_EM_IName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Field_of_Study__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Degree__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_GDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Graduation_Details_Update</targetReference>
            </connector>
            <label>Graduate Details</label>
        </rules>
        <rules>
            <name>G_Degree</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Degree__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_IName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Field_of_Study__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_GDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Degree_Update</targetReference>
            </connector>
            <label>G Degree</label>
        </rules>
        <rules>
            <name>G_Intuition_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_EM_IName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Field_of_Study__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Degree__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_GDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intuition_Name_1_update</targetReference>
            </connector>
            <label>G Intuition Name</label>
        </rules>
        <rules>
            <name>G_Field_of_Study</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Field_of_Study__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_IName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Degree__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_GDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Study_1_update</targetReference>
            </connector>
            <label>G Field of Study</label>
        </rules>
        <rules>
            <name>G_Graduation_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_EM_GDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_IName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Degree__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Field_of_Study__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Graduation_Date_1_Update</targetReference>
            </connector>
            <label>G Graduation Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Hr Approve Education Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hr Approve Graduate Education Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Degree_Update</name>
        <label>Degree Update</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_EM_Degree__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Degree__c</elementReference>
            </value>
        </inputAssignments>
        <object>ems_EM_Additional_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Field Of study is null</description>
        <name>Field_Study_1_update</name>
        <label>Field Study 1 update</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_EM_Field_of_Study__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Field_of_Study__c</elementReference>
            </value>
        </inputAssignments>
        <object>ems_EM_Additional_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Graduation Date is  null</description>
        <name>Graduation_Date_1_Update</name>
        <label>Graduation Date 1 Update</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_EM_GDate__c</field>
            <value>
                <elementReference>$Record.EMS_EM_GDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>ems_EM_Additional_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Graduation_Details_Update</name>
        <label>Graduation Details Update</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_EM_Degree__c</field>
            <value>
                <elementReference>$Record__Prior.EMS_EM_Degree__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_EM_Education__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Level_of_Education__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_EM_Field_of_Study__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Field_of_Study__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_EM_GDate__c</field>
            <value>
                <elementReference>$Record.EMS_EM_GDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_EM_IName__c</field>
            <value>
                <elementReference>$Record.EMS_EM_IName__c</elementReference>
            </value>
        </inputAssignments>
        <object>ems_EM_Additional_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Intuition Name is null it will update</description>
        <name>Intuition_Name_1_update</name>
        <label>Intuition Name 1 update</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_EM_IName__c</field>
            <value>
                <elementReference>$Record.EMS_EM_IName__c</elementReference>
            </value>
        </inputAssignments>
        <object>ems_EM_Additional_Detail__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Education_details</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EMS_EM_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Education Details</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_EM_Add_Education__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Degree</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_EM_Level_of_Education__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Graduation</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_EM_Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>EMS_EM_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
