force-app/main/default/flows/Hr_Approve_Personal_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>personal_details</name>
        <label>personal details</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_contact_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_do_you_want_to_change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Contact_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Personal_Email_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Contact_Details_update</targetReference>
            </connector>
            <label>All contact details</label>
        </rules>
        <rules>
            <name>Contact_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_do_you_want_to_change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Contact_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Personal_Email_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Number_update</targetReference>
            </connector>
            <label>Contact Number</label>
        </rules>
        <rules>
            <name>personal_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_do_you_want_to_change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Personal_Email_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Contact_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Personal_Email_Update</targetReference>
            </connector>
            <label>personal Email</label>
        </rules>
        <rules>
            <name>Married_Marital_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Mstatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Spouse_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_DOW__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Married_Marital_Status_Update</targetReference>
            </connector>
            <label>Married Marital Status</label>
        </rules>
        <rules>
            <name>spouse_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Mstatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Spouse_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_DOW__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spouse_Name_Update</targetReference>
            </connector>
            <label>spouse Name</label>
        </rules>
        <rules>
            <name>Date_of_wedding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Mstatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_DOW__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Spouse_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_of_Wedding_Update</targetReference>
            </connector>
            <label>Date of wedding</label>
        </rules>
        <rules>
            <name>Single_Marital_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_EM_Mstatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Marital_Status_Update</targetReference>
            </connector>
            <label>Single Marital Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Hr Approve Personal Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Approve Personal Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>All_Contact_Details_update</name>
        <label>All Contact Details update</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_Phone_Number__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Contact_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>$Record.Personal_Email_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Number_update</name>
        <label>Contact Number update</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_Phone_Number__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Contact_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Date_of_Wedding_Update</name>
        <label>Date of Wedding Update</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_EM_DOW__c</field>
            <value>
                <elementReference>$Record.EMS_EM_DOW__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Married_Marital_Status_Update</name>
        <label>Married Marital Status Update</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_EM_DOW__c</field>
            <value>
                <elementReference>$Record.EMS_EM_DOW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_EM_Mstatus__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Mstatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_EM_Spouse__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Spouse_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Personal_Email_Update</name>
        <label>Personal Email Update</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>$Record.Personal_Email_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Single_Marital_Status_Update</name>
        <label>Single Marital Status Update</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_EM_DOW__c</field>
            <value>
                <elementReference>$Record.EMS_EM_DOW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_EM_Mstatus__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Mstatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMS_EM_Spouse__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Spouse_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Spouse_Name_Update</name>
        <label>Spouse Name Update</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMS_EM_Spouse__c</field>
            <value>
                <elementReference>$Record.EMS_EM_Spouse_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>personal_details</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EMS_EM_Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto-Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_EM_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Personal Details</stringValue>
            </value>
        </filters>
        <object>EMS_EM_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
