force-app/main/default/flows/IF_Leave_Status_is_Auto_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Leave_Auto_Approved</name>
        <label>Leave Auto Approved</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Auto_Approved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_If_Auto_Approve_Checkbox_is_checked</name>
        <label>Check If Auto Approve Checkbox is checked</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If1_Auto_Approve_Checkbox_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Resource_Role__r.Auto_Approve__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Resource_Role__r.Auto_Approve__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Auto_Approved</targetReference>
            </connector>
            <label>Check If Auto Approve Checkbox is checked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IF Leave Status is Auto Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IF Leave Status is Auto Approved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Auto_Approve_Checkbox_is_checked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </filters>
        <object>EMS_LM_Leave_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
