force-app/main/default/flows/IF_Work_From_Home_Request_Is_Edited.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_When_Leave_Request_is_Edited_Send_Email</name>
        <label>When Leave Request is Edited Send Email</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.When_Leave_Request_is_Edited_Send_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_When_Leave_Request_is_Edited_send_email_to_Lead_Approver_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_When_Leave_Request_is_Edited_send_email_to_Lead_Approver_1</name>
        <label>When Leave Request is Edited send email to Lead(Approver 1)</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.Sent_Email_When_Leave_Request_is_Edited_to_Lead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>When_Leave_Request_is_Edited_Send_Email1</name>
        <label>When Leave Request is Edited Send Email</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.When_Leave_Request_is_Edited_Send_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>When_Leave_Request_is_Edited_send_email_to_Lead_Approver_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>When_Leave_Request_is_Edited_send_email_to_Lead_Approver_1</name>
        <label>When Leave Request is Edited send email to Lead(Approver 1)</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.Sent_Email_When_Leave_Request_is_Edited_to_Lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>When_Leave_Request_is_Edited_Sent_Email_to_Lead_Approver_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>When_Leave_Request_is_Edited_Sent_Email_to_Lead_Approver_1</name>
        <label>When Leave Request is Edited Sent Email to Lead(Approver 1)</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>EMS_LM_Leave_History__c.Sent_Email_When_Leave_Request_is_Edited_to_PM_Approver_2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_WFH_Status</name>
        <label>Check WFH Status</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_status_is_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_When_Leave_Request_is_Edited_Send_Email</targetReference>
            </connector>
            <label>When status is pending</label>
        </rules>
        <rules>
            <name>When_Status_is_Approver_1_Pending</name>
            <conditionLogic>(1 AND 3 AND 4 AND 5) OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Leave_Request_is_Edited_Send_Email1</targetReference>
            </connector>
            <label>When Status is Approver 1 Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_When_WFH_Request_Is_Edited</name>
        <label>Send Email When WFH Request Is Edited</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Any_Field_In_Leave_Request_is_Updated</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Day__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Day__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_Type_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Reason__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WFH_Status</targetReference>
            </connector>
            <label>IF Any Field In WFH Request is Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IF Work From Home Request Is Edited {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IF WFH/Annual Leave Request Is Edited</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Leave_Request_Records</name>
        <label>Get Leave Request Records</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_When_WFH_Request_Is_Edited</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EMS_LM_Leave_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leave_Request_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Leave_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work from Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>Leave_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Leave_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loss of Pay</stringValue>
            </value>
        </filters>
        <object>EMS_LM_Leave_History__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
