force-app/main/default/flows/IF_Work_From_Home_Request_Modified_By_HR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Email_To_HR_on_Approval_of_leave_Request</name>
        <label>Copy 1 of Email To HR on Approval of leave Request</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToHRwhenLeaveisapprovedbyhim</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>HrEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> Leave Request is {!Status} by {!HRName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Email_To_HR_When_Leave_is_Rejected</name>
        <label>Copy 1 of Email To HR When Leave is Rejected</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>HR_Rejects_leave_request_of_emp_reporting_to_PM_Email_To_Approver2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToHrWhenleaveisRejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>HrEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Leave Request is {!Status} by {!HRName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_When_Leave_Edited_by_HR</name>
        <label>Copy 1 of When Leave Edited by HR</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendEmailwhenHrupdatestheleaverequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Leave Request Modified by HR</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_HR_on_Approval_of_leave_Request</name>
        <label>Email To HR on Approval of leave Request</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToHRwhenLeaveisapprovedbyhim</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>HrEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> Leave Request is {!Status} by {!HRName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_Hr_When_leave_is_Cancelled</name>
        <label>Email To Hr When leave is Cancelled</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EMS_Leave_Cancel_By_HR_Email_To_Employee</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToHRWhenLeaveCancelledByHR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>HrEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Leave Request is {!Status} by {!HRName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_HR_When_Leave_is_Rejected</name>
        <label>Email To HR When Leave is Rejected</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>HR_Rejects_leave_request_of_emp_reporting_to_Approver1_Email_To_Approver1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToHrWhenleaveisRejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>HrEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Leave Request is {!Status} by {!HRName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EMS_Leave_Cancel_By_HR_Email_To_Employee</name>
        <label>EMS_Leave_Cancel By HR(Email To Employee)</label>
        <locationX>2426</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.EMS_Leave_Cancel_By_HR_Email_To_Employee</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HR_approves_leave_request_of_emp_reporting_to_PM_Email_To_PM</name>
        <label>HR approves leave request of emp reporting to PM,(Email To PM)</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.HR_approves_leave_request_of_emp_reporting_to_lead_instead_of_PM_Email_To_PM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Email_To_HR_on_Approval_of_leave_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HR_approves_rejects_leave_request_of_emp_reporting_to_lead</name>
        <label>HR approves/rejects  leave request of emp reporting to lead</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.HR_approves_rejects_leave_request_of_employees_reporting_to_lead_instead_of_lea</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_To_HR_on_Approval_of_leave_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HR_Rejects_leave_request_of_emp_reporting_to_Approver1_Email_To_Approver1</name>
        <label>HR Rejects leave request of emp reporting to Approver1(Email To Approver1)</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <actionName>EMS_LM_Leave_History__c.HR_Rejects_leave_request_of_emp_reporting_to_Approver1_Email_To_Approver1</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HR_Rejects_leave_request_of_emp_reporting_to_PM_Email_To_Approver2</name>
        <label>HR Rejects leave request of emp reporting to PM(Email To Approver2)</label>
        <locationX>1898</locationX>
        <locationY>935</locationY>
        <actionName>EMS_LM_Leave_History__c.HR_Rejects_leave_request_of_emp_reporting_to_PM_Email_To_Approver2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>When_Leave_Edited_by_HR</name>
        <label>When Leave Edited by HR</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendEmailwhenHrupdatestheleaverequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Leave Request Modified by HR</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Store_Old_Value</name>
        <label>Store Old Value</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>OldStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.EMS_LM_Leave_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.EMS_LM_Leave_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EMS_LM_Leave_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EMS_LM_Leave_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EMS_LM_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EMS_LM_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EMS_LM_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HrEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HRName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeaveType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Leave_Type_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EMS_LM_Contact__r.EMS_RM_Employee_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IF_Leave_Request_Is_Edited_or_Not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Level_of_Approval</name>
        <label>Check For Level of Approval</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_When_Leave_Edited_by_HR</targetReference>
            </connector>
            <label>If Status is Pending</label>
        </rules>
        <rules>
            <name>If_Status_Is_Pending_Approver1_Pending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Leave_Edited_by_HR</targetReference>
            </connector>
            <label>If Status Is Pending/Approver1 Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_HR_approves_rejects_leave_on_behalf_of_an_approver_1</name>
        <label>Check HR rejects leave on behalf of an approver 1/Approver2</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HR_rejects_leave_on_behalf_of_an_approver_1</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_To_HR_When_Leave_is_Rejected</targetReference>
            </connector>
            <label>HR rejects leave on behalf of approver 1</label>
        </rules>
        <rules>
            <name>HR_rejects_leave_on_behalf_of_approver_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Email_To_HR_When_Leave_is_Rejected</targetReference>
            </connector>
            <label>HR rejects leave on behalf of approver 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_HR_approves_leave_on_behalf_of_an_Approver1_Approver2</name>
        <label>Check Whether HR approves leave on behalf of an Approver1/Approver2</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HR_approves_leave_on_behalf_of_an_approver_1</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HR_approves_rejects_leave_request_of_emp_reporting_to_lead</targetReference>
            </connector>
            <label>HR approves leave on behalf of an approver 1</label>
        </rules>
        <rules>
            <name>HR_approves_leave_on_behalf_of_an_approver_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HR_approves_leave_request_of_emp_reporting_to_PM_Email_To_PM</targetReference>
            </connector>
            <label>HR approves leave on behalf of an approver 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Leave_Request_Is_Edited_or_Not</name>
        <label>IF Leave Request Is Edited or Not</label>
        <locationX>1502</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Leave_Edited</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leave_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work from Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Level_of_Approval</targetReference>
            </connector>
            <label>Leave Edited</label>
        </rules>
        <rules>
            <name>HR_approves_rejects_leave_request_of_employees_reporting_to_lead_instead_of_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leave_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work from Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Whether_HR_approves_leave_on_behalf_of_an_Approver1_Approver2</targetReference>
            </connector>
            <label>HR approves leave Request</label>
        </rules>
        <rules>
            <name>Leave_Status_is_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leave_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work from Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_HR_approves_rejects_leave_on_behalf_of_an_approver_1</targetReference>
            </connector>
            <label>If HR rejects Leave Request</label>
        </rules>
        <rules>
            <name>Leave_Status_is_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leave_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work from Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_To_Hr_When_leave_is_Cancelled</targetReference>
            </connector>
            <label>IF HR Cancelled Leave Request</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IF Work From Home Request Modified By HR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IF Work From Home Request Modified By HR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Leave_Request_Records</name>
        <label>Get Leave Request Records</label>
        <locationX>1502</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Old_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EMS_LM_Leave_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leave_Request_Records</targetReference>
        </connector>
        <filterFormula>{!$Profile.Name} = &apos;Employee - HR(Community)&apos;</filterFormula>
        <object>EMS_LM_Leave_History__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailToHRWhenLeaveCancelledByHR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Employee&lt;/p&gt;&lt;p&gt;The request type {!LeaveType} of Employee({!EmployeeID}) for the following date(s) has been {!Status} by {!HRName}.&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;1&quot; style=&quot;border-collapse: collapse; width: 80.4918%; height: 107px; text-align: center;&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 56px;&quot;&gt;&lt;td style=&quot;width: 26.68085%; height: 56px;&quot;&gt;&amp;nbsp;Leave Start Date(s)&lt;/td&gt;&lt;td style=&quot;width: 26.68085%; height: 56px;&quot;&gt;&amp;nbsp;Leave End Date(s)&lt;/td&gt;&lt;td style=&quot;width: 26.6812%; height: 56px;&quot;&gt;&amp;nbsp;Status&lt;/td&gt;&lt;td style=&quot;width: 28.4206%; height: 56px;&quot;&gt;&amp;nbsp;Day&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height: 51px;&quot;&gt;&lt;td style=&quot;width: 28.8085%; height: 51px;&quot;&gt;{!NewStartDate}&lt;/td&gt;&lt;td style=&quot;width: 28.8085%; height: 51px;&quot;&gt;{!NewEndDate} &lt;/td&gt;&lt;td style=&quot;width: 26.6812%; height: 51px;&quot;&gt;{!Status}&lt;/td&gt;&lt;td style=&quot;width: 28.4206%; height: 51px;&quot;&gt;{!Day}&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;Approve/Reject Name : {!HRName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Cloud Peritus India Pvt. Ltd.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailToHRwhenLeaveisapprovedbyhim</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Employee&lt;/p&gt;&lt;p&gt;The request type {!LeaveType} of Employee({!EmployeeID}) for the following date(s) has been {!Status} by {!HRName}.&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;1&quot; style=&quot;border-collapse: collapse; width: 80.4918%; height: 90px;&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 56px;&quot;&gt;&lt;td style=&quot;width: 26.68085%; height: 56px;&quot;&gt;&amp;nbsp;Leave Start Date(s)&lt;/td&gt;&lt;td style=&quot;width: 26.68085%; height: 56px;&quot;&gt;&amp;nbsp; Leave End Date(s)&lt;/td&gt;&lt;td style=&quot;width: 26.6812%; height: 56px;&quot;&gt;&amp;nbsp;Status&lt;/td&gt;&lt;td style=&quot;width: 28.4206%; height: 56px;&quot;&gt;&amp;nbsp;Day&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height: 51px;&quot;&gt;&lt;td style=&quot;width: 28.8085%; height: 51px;&quot;&gt;{!NewStartDate}&lt;/td&gt;&lt;td style=&quot;width: 28.8085%; height: 51px;&quot;&gt;{!NewEndDate} &lt;/td&gt;&lt;td style=&quot;width: 26.6812%; height: 51px;&quot;&gt;{!Status}&lt;/td&gt;&lt;td style=&quot;width: 28.4206%; height: 51px;&quot;&gt;{!Day}&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;Approve/Reject Name : {!HRName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Cloud Peritus India Pvt. Ltd.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailToHrWhenleaveisRejected</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Employee&lt;/p&gt;&lt;p&gt;The request type {!LeaveType} of Employee({!EmployeeID}) for the following date(s) has been {!Status} by {!HRName}.&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;1&quot; style=&quot;border-collapse: collapse; width: 80.4918%; height: 107px;&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 56px;&quot;&gt;&lt;td style=&quot;width: 26.68085%; height: 56px;&quot;&gt;&amp;nbsp;Leave Start Date(s)&lt;/td&gt;&lt;td style=&quot;width: 26.68085%; height: 56px;&quot;&gt;&amp;nbsp;Leave End Date(s)&lt;/td&gt;&lt;td style=&quot;width: 26.6812%; height: 56px;&quot;&gt;&amp;nbsp;Status&lt;/td&gt;&lt;td style=&quot;width: 28.4206%; height: 56px;&quot;&gt;&amp;nbsp;Day&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height: 51px;&quot;&gt;&lt;td style=&quot;width: 28.8085%; height: 51px;&quot;&gt;{!NewStartDate}&lt;/td&gt;&lt;td style=&quot;width: 28.8085%; height: 51px;&quot;&gt;{!NewEndDate} &lt;/td&gt;&lt;td style=&quot;width: 26.6812%; height: 51px;&quot;&gt;{!Status}&lt;/td&gt;&lt;td style=&quot;width: 28.4206%; height: 51px;&quot;&gt;{!Day}&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;Approve/Reject Name : {!HRName} &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Cloud Peritus India Pvt. Ltd.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SendEmailwhenHrupdatestheleaverequest</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Employee&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your {!LeaveType} Request has been modified by HR.&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;1&quot; style=&quot;border-collapse: collapse; width: 80.4918%; height: 107px;&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 56px;&quot;&gt;&lt;td style=&quot;width: 26.68085%; height: 56px;&quot;&gt;&amp;nbsp;Leave Request Date(s)&lt;/td&gt;&lt;td style=&quot;width: 26.68085%; height: 56px;&quot;&gt;&amp;nbsp;Modified Leave Request Date(s)&lt;/td&gt;&lt;td style=&quot;width: 26.6812%; height: 56px;&quot;&gt;&amp;nbsp;Status&lt;/td&gt;&lt;td style=&quot;width: 28.4206%; height: 56px;&quot;&gt;&amp;nbsp;Day&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height: 51px;&quot;&gt;&lt;td style=&quot;width: 28.8085%; height: 51px;&quot;&gt;{!OldStartDate} To {!OldEndDate}&lt;/td&gt;&lt;td style=&quot;width: 28.8085%; height: 51px;&quot;&gt;{!NewStartDate} To {!NewEndDate} &lt;/td&gt;&lt;td style=&quot;width: 26.6812%; height: 51px;&quot;&gt;{!Status}&lt;/td&gt;&lt;td style=&quot;width: 28.4206%; height: 51px;&quot;&gt;{!Day}&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Reason:  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Cloud Peritus India Pvt. Ltd.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Day</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmployeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.EMS_LM_Contact__r.EMS_RM_Employee_Id__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>HrEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>HRName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.LastName</elementReference>
        </value>
    </variables>
    <variables>
        <name>LeaveType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
