force-app/main/default/flows/Leave_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approver_1_Leave_Request</name>
        <label>Approver 1 Leave Request</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>EMS_LM_Leave_History__c.Approver1_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Approver_2_Leave_Request</name>
        <label>Approver 2 Leave Request</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>EMS_LM_Leave_History__c.Approver_2_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Approver_3_Leave_Request</name>
        <label>Approver 3 Leave Request</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>EMS_LM_Leave_History__c.Approver_3_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>status_leave_request</name>
        <label>status leave request</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Approver_1_Leave_Request</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Waiting_for_second_approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting For Approver 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Approver_2_Leave_Request</targetReference>
            </connector>
            <label>Waiting for second approver</label>
        </rules>
        <rules>
            <name>Waiting_for_third_approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting For Approver 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approver_3__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Approver_3_Leave_Request</targetReference>
            </connector>
            <label>Waiting for third approver</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Leave Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Leave Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>status_leave_request</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting For Approver 2</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting For Approver 3</stringValue>
            </value>
        </filters>
        <object>EMS_LM_Leave_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
