force-app/main/default/flows/newoffice_do_nots.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a0f58775_ce55_413a_9903_ce5aa0cb66d2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a6325104_3a29_449d_bfd4_42274157c9da</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_abad174d_3019_4078_b9c7_0807cc790cdb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <interviewLabel>NewOffice_DO_NOTS</interviewLabel>
    <label>NewOffice_DO_NOTS</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_newoffice_do_nots_2_e6a9f5b9_08b3_4199_b917_f18e80f683f4</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_a0f58775_ce55_413a_9903_ce5aa0cb66d2</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a6325104_3a29_449d_bfd4_42274157c9da</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f7301b6c_bcbe_443f_8e0b_395c766e9927</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Important &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;If an access card is lost or damaged, a new access card will be issued only after receiving a request mail from the company admin.&lt;strong&gt; INR 500&lt;/strong&gt;/- will be charged for the new access card. &lt;/li&gt;&lt;li&gt;Sports/ recreation equipment must be used in the right manner. Any breakage or damage to the equipment will be charged to the individual. &lt;/li&gt;&lt;li&gt;Pedestal/ cupboard keys - If any of the client or employee pedestal or cupboard key is lost a &lt;strong&gt;penalty of INR 1000&lt;/strong&gt;/- will be charged to the individual/ company. &lt;/li&gt;&lt;li&gt;If you suspect any abnormalities or suspicious movement/ individuals inside the premises please inform the front desk or management.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>For any clarifications or questions. please enter the text in the below box</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a6325104_3a29_449d_bfd4_42274157c9da</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_abad174d_3019_4078_b9c7_0807cc790cdb</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_cc0a246d_bb2e_4777_a2ea_15cbbf3aae41_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_cc0a246d_bb2e_4777_a2ea_15cbbf3aae41_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_cc0a246d_bb2e_4777_a2ea_15cbbf3aae41_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cc0a246d_bb2e_4777_a2ea_15cbbf3aae41</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;DO&apos;s&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;ISPROUT premises must be kept neat and tidy, alongside professional decorum. Any inconvenience will invite consequences not limited to penalties, even prosecution for damage caused.&lt;/li&gt;&lt;li&gt;Leave your area in better condition for immediate use by your co-workers and associates. • Place your dirty/ used dishes in the area/ bin designated at the common cafeteria.&lt;/li&gt;&lt;li&gt;Dispose of all disposable items in appropriate waste bins.&lt;/li&gt;&lt;li&gt;Please take prior approval from Property Manager for organizing any team celebration activities. They will help you by allocating a cordoned space.&lt;/li&gt;&lt;li&gt;Please inform the front desk team via mail before moving out any office assets like laptops, printers, etc. to obtain a gate pass and avoid inconvenience at the building security gate.&lt;/li&gt;&lt;li&gt;Professional attire for both genders and closed toes for Men.&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>I understand the DOs on ISPROUT premises</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_abad174d_3019_4078_b9c7_0807cc790cdb</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b030b4d2_cab2_4779_b1a9_7f7cc78894b1_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_b030b4d2_cab2_4779_b1a9_7f7cc78894b1_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_b030b4d2_cab2_4779_b1a9_7f7cc78894b1_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b030b4d2_cab2_4779_b1a9_7f7cc78894b1</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;DONT&apos;s&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Do not talk/ laugh loudly in common areas, breakout areas, lobby, cafeteria, and washrooms as this may create a noisy environment and inconvenience other clients/ colleagues.&lt;/li&gt;&lt;li&gt;Do not carry and consume any food or beverages, even tea/ coffee into cabins. Other than the consumption of water, all other consumables are is strictly prohibited inside the cabins.&lt;/li&gt;&lt;li&gt;Do not dine anywhere on the premises other than the common cafeteria. Please avoid spillage of food and beverages over the table or floor that will make the area dirty and unhygienic.&lt;/li&gt;&lt;li&gt;Do not play any loud music or do not make loud noise during team celebrations as this may create disturbance to other clients/ colleagues.&lt;/li&gt;&lt;li&gt;Do not quarrel, engage in any manhandling activities, crack offensive jokes, comment, or stare at others. If noticed or reported, strict action will be initiated by the management team.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>I understand the DONTs on ISPROUT premises</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_8e158101_f0fb_4269_acb6_ed235d3c69ef_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_8e158101_f0fb_4269_acb6_ed235d3c69ef_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_8e158101_f0fb_4269_acb6_ed235d3c69ef_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8e158101_f0fb_4269_acb6_ed235d3c69ef</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;DONT&apos;s&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Do not bring any alcoholic beverage into the premises at any point of time and for any purpose. This is strictly prohibited.&lt;/li&gt;&lt;li&gt;Do not tamper or scratch the glass partition or signage. Any damage will be charged to the individual/ company.&lt;/li&gt;&lt;li&gt;Do not rest or lean in the lobby or breakout area. If any employee feels unwell they may use the wellness room for some time by mailing a request from the company admin.&lt;/li&gt;&lt;li&gt;Do not block any common pathway of fire exits and keep them free for movement at all times. • Do not misuse the breakout equipment and furniture. They are for everyone’s use and convenience. • Slippers &amp;amp; Crocs are prohibited for both the genders&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>I understand the DONTs on ISPROUT premises</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_a0f58775_ce55_413a_9903_ce5aa0cb66d2</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>q_8e158101_f0fb_4269_acb6_ed235d3c69ef_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_8e158101_f0fb_4269_acb6_ed235d3c69ef_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>q_b030b4d2_cab2_4779_b1a9_7f7cc78894b1_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_b030b4d2_cab2_4779_b1a9_7f7cc78894b1_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>q_cc0a246d_bb2e_4777_a2ea_15cbbf3aae41_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_cc0a246d_bb2e_4777_a2ea_15cbbf3aae41_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Thank you for acknowledging the DOs and DONTs. Looking forward to our new office space.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;For any further questions please reach out to hr@cloudperitus.com&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;&quot;&gt;Hi All, as we all know we are ready to open our new office soon. Before that, we would like to inform a few DOs and DONTs in the new office.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;&quot;&gt;Please read the information carefully and&amp;nbsp;acknowledge the same.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_8e158101_f0fb_4269_acb6_ed235d3c69ef_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b030b4d2_cab2_4779_b1a9_7f7cc78894b1_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_cc0a246d_bb2e_4777_a2ea_15cbbf3aae41_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
