force-app/main/default/flows/Populate_Last_Working_Date_Field_on_Resignation_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>populate_date_value</name>
        <label>populate date value</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Working_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastWorkingDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Record_Data</name>
        <label>Check Record Data</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resignation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resignation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populate_date_value</targetReference>
            </connector>
            <label>Resignation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lastWorkingDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$Record.Contact.Resource_Role__r.Notice_Consider_Days__c}</expression>
    </formulas>
    <interviewLabel>Populate Last Working Date Field on Resignation Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Last Working Date Field on Resignation Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Data</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
