force-app/main/default/flows/PreOnboarding_Gentle_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reminder_Email_To_Candidate</name>
        <label>Reminder Email To Candidate</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>EMS_EM_Onboarding_Request__c.Reminder_Email_To_Candidate</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DOJThreedaysBefore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckTheCondition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Getrecords</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_Email_To_Candidate</targetReference>
            </connector>
            <label>DOJThreedaysBefore</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DOJ_ThreeDays_Before</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <formulas>
        <name>Getrecords</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK({!$Record.Date_of_Joining__c})),
  {!$Flow.CurrentDate} + 3 &gt;= {!$Record.Date_of_Joining__c},
  {!$Flow.CurrentDate} + 1 &gt;= DATEVALUE({!$Record.ContactId1__r.CreatedDate}))</expression>
    </formulas>
    <interviewLabel>PreOnboarding Gentle Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PreOnboarding Gentle Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EMS_EM_Personal_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Confirm__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Joining__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EMS_EM_Onboarding_Request__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-16</startDate>
            <startTime>19:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ReminderEmailToCandidate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;Dear {!$Record.EMS_EM_Last_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;Hope you&apos;re doing well!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;This is a gentle reminder to complete your pre-onboarding formalities as soon as possible. This will give us the necessary time to verify your details and ensure a smooth onboarding.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;If you are unable to provide any of the documents or details please reply to this mail with the reason.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;Thanks for your cooperation!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;Best wishes,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;HR Team&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;Cloud Peritus.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CheckTheCondition</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
