force-app/main/default/flows/Remainder_to_approver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reminder_Email_to_Approver1</name>
        <label>Reminder Email to Approver1</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>EMS_LM_Leave_History__c.Reminder_Email_to_Approver1</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reminder_Email_to_Approver2</name>
        <label>Reminder Email to Approver2</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>EMS_LM_Leave_History__c.Reminder_Email_to_Approver2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reminder_Email_to_Approver_on_pending_status</name>
        <label>Reminder Email to Approver on pending status</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <actionName>EMS_LM_Leave_History__c.Reminder_Email_to_Approver_on_pending_status</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Status_of_Leave_Request</name>
        <label>Status of Leave Request</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver_1_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Todatedate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_Email_to_Approver1</targetReference>
            </connector>
            <label>Approver 1 pending</label>
        </rules>
        <rules>
            <name>Approver_2_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Todatedate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_Email_to_Approver2</targetReference>
            </connector>
            <label>Approver 2 Pending</label>
        </rules>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Todatedate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_Email_to_Approver_on_pending_status</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Todatedate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>R {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remainder to approver</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_of_Leave_Request</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approver 2 Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approver 1 pending</stringValue>
            </value>
        </filters>
        <object>EMS_LM_Leave_History__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-14</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ReminderBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt;Hi PM,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt;A gentle reminder to approve the leave request raised by &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 0); color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt;employee name&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt; for the following &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 0); color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt;reason&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt; for&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 0); color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt; 4-5 days&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt;Please keep the employee informed, if you would like to have further discussion with the employee regarding the leave request.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 11pt;&quot;&gt;Cloud Peritus India Pvt. Ltd.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ReminderSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(34, 34, 34); font-family: Poppins, sans-serif; font-size: 10.5pt;&quot;&gt;Reminder email for the leave approval&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
