force-app/main/default/flows/Reward_And_Recognition_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Whenever a &quot;Annual Award Nomination&quot; is submitted send an email to nomination Creator</description>
        <name>Email_to_Creator_AA</name>
        <label>Email to Creator</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Reward_And_Recognition__c.Annual_Award_Submission_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Whenever a new &quot;Recognize&quot; is created Send an Email to the &quot;CREATOR&quot;</description>
        <name>Email_to_Creator_Recognition</name>
        <label>Email to Creator</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Reward_And_Recognition__c.Recognition_Email_alert_for_Creator</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Whenever a new &quot;SHOUTOUT&quot; is created Send an Email to the &quot;CREATOR&quot;</description>
        <name>Email_to_Creator_Shoutout</name>
        <label>Email to Creator</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Reward_And_Recognition__c.Shoutout_Email_alert_for_Creator</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Whenever a new &quot;Recognize&quot; is created Send an Email to the &quot;RESOURCE&quot;</description>
        <name>Email_to_Resource_Recognition</name>
        <label>Email to Resource</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Reward_And_Recognition__c.Recognition_Email_alert_for_Resource</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_to_Creator_Recognition</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Whenever a new &quot;SHOUTOUT&quot; is created Send an Email to the &quot;RESOURCE&quot;</description>
        <name>Email_to_Resource_Shoutout</name>
        <label>Email to Resource</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Reward_And_Recognition__c.Shoutout_Email_alert_for_Resource</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_to_Creator_Shoutout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shoutout_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShoutOut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recognization_By__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Resource_Shoutout</targetReference>
            </connector>
            <label>Shoutout Type</label>
        </rules>
        <rules>
            <name>Recognition_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recognize</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recognization_By__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Resource_Recognition</targetReference>
            </connector>
            <label>Recognition Type</label>
        </rules>
        <rules>
            <name>Annual_Award_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Award</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recognization_By__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fiscal_Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Nomination_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nominated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nominations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Creator_AA</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Annual Award Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Rewards and Recogni {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reward And Recognition Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recognization_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Reward_And_Recognition__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
