force-app/main/default/flows/Send_Email_when_employee_raises_special_leave_request_other_than_maternity_leave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_When_Emp_Raises_Request_Email_To_Assignee</name>
        <label>Copy 1 of When Emp Raises Request(Email To Assignee)</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Case.When_an_employee_raises_special_leave_request_other_than_maternity_Email_To_Assi</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.When_an_employee_raises_special_leave_request_other_than_maternity_Email_To_Assi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_When_Emp_Raises_Request_Email_To_Assignee</name>
        <label>Copy 2 of When Emp Raises Request(Email To Assignee)</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Case.When_an_employee_raises_special_leave_request_other_than_maternity_Email_To_Assi</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.When_an_employee_raises_special_leave_request_other_than_maternity_Email_To_Assi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>When_Emp_Raises_Request_Email_To_Assignee</name>
        <label>When Emp Raises Request(Email To Assignee)</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.When_an_employee_raises_special_leave_request_other_than_maternity_Email_To_Assi</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.When_an_employee_raises_special_leave_request_other_than_maternity_Email_To_Assi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_For_Special_Leaves</name>
        <label>Check For Special Leaves</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Special_Leaves1</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND  5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paternity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marriage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bereavement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compensatory Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Assignee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Emp_Raises_Request_Email_To_Assignee</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check For Special Leaves</label>
        </rules>
        <rules>
            <name>If_special_Leave_is_Maternity_Email_To_HR</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maternity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Assignee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change of Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_When_Emp_Raises_Request_Email_To_Assignee</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If special Leave is Maternity or Change of Details(Email To HR)</label>
        </rules>
        <rules>
            <name>If_Service_Request_Type_is_Technical_issues_or_Others</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Assignee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_When_Emp_Raises_Request_Email_To_Assignee</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Service Request Type is Technical issues or Others</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email when employee raises special leave request other than maternity leave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email when employee raises special leave request other than maternity leave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Special_Leaves</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Issues</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Others</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special Leaves</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change of Details</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
