force-app/main/default/flows/Send_Email_to_RM_for_US_Employee_Leaves.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_update_to_RM</name>
        <label>Approval update to RM</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>EMS_LM_Leave_History__c.Admin_Access_User_Approves_Leave</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMS_LM_Leave_History__c.Admin_Access_User_Approves_Leave</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Template: Email_to_RM_when_employee_canceled_leave</description>
        <name>Canceled_by_User_update_to_RM</name>
        <label>Canceled by User update to RM</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_to_RM_when_employee_canceled_leave</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMS_LM_Leave_History__c.Email_to_RM_when_employee_canceled_leave</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Using Admin_Access_User_Canceled_Leave email alert</description>
        <name>Canceled_update_to_RM</name>
        <label>Canceled update to RM</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>EMS_LM_Leave_History__c.Admin_Access_User_Canceled_Leave</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMS_LM_Leave_History__c.Admin_Access_User_Canceled_Leave</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Admin Access User Rejected Leave</description>
        <name>Rejection_update_to_RM</name>
        <label>Rejection update to RM</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>EMS_LM_Leave_History__c.Admin_Access_User_Rejects_Leave</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMS_LM_Leave_History__c.Admin_Access_User_Rejects_Leave</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Approved_Rejected_Cancelled</name>
        <label>Approved/Rejected/Cancelled</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Leave_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_update_to_RM</targetReference>
            </connector>
            <label>Leave Approved</label>
        </rules>
        <rules>
            <name>Leave_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_update_to_RM</targetReference>
            </connector>
            <label>Leave Rejected</label>
        </rules>
        <rules>
            <name>Leave_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled_update_to_RM</targetReference>
            </connector>
            <label>Leave Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Edited_Cancelled</name>
        <label>Edited/Cancelled</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled_By_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.EMS_TM_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled_by_User_update_to_RM</targetReference>
            </connector>
            <label>Cancelled By Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Updated</name>
        <label>New/Updated</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_By_Admin_Access_Profile</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND ( 7 OR 8 ) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Day__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Day__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_Type_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Reason__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee - Operations(Community)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Rejected_Cancelled</targetReference>
            </connector>
            <label>Updated By Admin Access Profile</label>
        </rules>
        <rules>
            <name>Updated_By_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.EMS_TM_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EMS_LM_Contact__r.EMS_TM_User__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edited_Cancelled</targetReference>
            </connector>
            <label>Updated By Employee</label>
        </rules>
    </decisions>
    <description>Delete New Record Outcome from decision[we have original leave status flow]</description>
    <environments>Default</environments>
    <interviewLabel>Send Email to RM for US Employee Leaves {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email to RM for US Employee Leaves</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Updated</targetReference>
        </connector>
        <filterFormula>{!$Record.EMS_LM_Contact__r.Work_Location__r.Name} = &apos;California - USA&apos;</filterFormula>
        <object>EMS_LM_Leave_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>defRMEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;47&quot;&gt;&lt;col width=&quot;501&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:48pt&quot;&gt;&lt;td style=&quot;border-left:solid #ffffff 0.6000000000000001pt;border-right:solid #ffffff 0.6000000000000001pt;border-bottom:solid #ffffff 0.6000000000000001pt;border-top:solid #ffffff 0.6000000000000001pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;br&gt;&lt;/td&gt;&lt;td style=&quot;border-left:solid #ffffff 0.6000000000000001pt;border-right:solid #ffffff 0.6000000000000001pt;border-bottom:solid #ffffff 0.6000000000000001pt;border-top:solid #ffffff 0.6000000000000001pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.656;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:151px;height:51px;&quot;&gt;&lt;img src=&quot;https://lh7-us.googleusercontent.com/6jqLOHWir0TMAqMzodljwQKAaXo4n8Ml_yJjdUcZPgO6PVxog8ycelplJxIL3pNnxLiE--6YofZ2YPUBeocO1hgR7RqifVMw0tYxV6JpXjUpJG7s9-QsGbqIlhJ5YYQFE-C5e5pdjSMhy94EiSZJ_Oo&quot; width=&quot;151&quot; height=&quot;51&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:24.75pt&quot;&gt;&lt;td style=&quot;border-left:solid #ffffff 0.6000000000000001pt;border-right:solid #ffffff 0.6000000000000001pt;border-bottom:solid #ffffff 0.6000000000000001pt;border-top:solid #ffffff 0.6000000000000001pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;br&gt;&lt;/td&gt;&lt;td style=&quot;border-left:solid #ffffff 0.6000000000000001pt;border-right:solid #ffffff 0.6000000000000001pt;border-bottom:solid #ffffff 0.6000000000000001pt;border-top:solid #ffffff 0.6000000000000001pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:261.75pt&quot;&gt;&lt;td style=&quot;border-left:solid #ffffff 0.6000000000000001pt;border-right:solid #ffffff 0.6000000000000001pt;border-bottom:solid #ffffff 0.6000000000000001pt;border-top:solid #ffffff 0.6000000000000001pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;br&gt;&lt;/td&gt;&lt;td style=&quot;border-left:solid #ffffff 0.6000000000000001pt;border-right:solid #ffffff 0.6000000000000001pt;border-bottom:solid #ffffff 0.6000000000000001pt;border-top:solid #ffffff 0.6000000000000001pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.656;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;Dear {!f14a6e43-be64-4b0a-9822-68da8e281f46.Resource_Reports_To__r.ContactName__c},&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.656;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;This is to notify you that {!f14a6e43-be64-4b0a-9822-68da8e281f46.Resource__r.ContactName__c}&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.656;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;&amp;nbsp;has raised a leave request for the following date(s).&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;div dir=&quot;ltr&quot; style=&quot;margin-left:0pt;&quot; align=&quot;left&quot;&gt;&lt;table style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;121&quot;&gt;&lt;col width=&quot;121&quot;&gt;&lt;col width=&quot;121&quot;&gt;&lt;col width=&quot;122&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:36.75pt&quot;&gt;&lt;td style=&quot;border-left:solid #000000 0.6000000000000001pt;border-right:solid #000000 0.6000000000000001pt;border-bottom:solid #000000 0.6000000000000001pt;border-top:solid #000000 0.6000000000000001pt;vertical-align:top;background-color:#674ea7;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.44;text-align: center;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;Leave Start Date&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;border-left:solid #000000 0.6000000000000001pt;border-right:solid #000000 0.6000000000000001pt;border-bottom:solid #000000 0.6000000000000001pt;border-top:solid #000000 0.6000000000000001pt;vertical-align:top;background-color:#674ea7;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.44;text-align: center;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;Leave End Date&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;border-left:solid #000000 0.6000000000000001pt;border-right:solid #000000 0.6000000000000001pt;border-bottom:solid #000000 0.6000000000000001pt;border-top:solid #000000 0.6000000000000001pt;vertical-align:top;background-color:#674ea7;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.44;text-align: center;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;Status&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;border-left:solid #000000 0.6000000000000001pt;border-right:solid #000000 0.6000000000000001pt;border-bottom:solid #000000 0.6000000000000001pt;border-top:solid #000000 0.6000000000000001pt;vertical-align:top;background-color:#674ea7;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.44;text-align: center;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;Day&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:50.25pt&quot;&gt;&lt;td style=&quot;border-left:solid #000000 0.6000000000000001pt;border-right:solid #000000 0.6000000000000001pt;border-bottom:solid #000000 0.6000000000000001pt;border-top:solid #000000 0.6000000000000001pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.44;text-align: center;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;{!startDateL}&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;border-left:solid #000000 0.6000000000000001pt;border-right:solid #000000 0.6000000000000001pt;border-bottom:solid #000000 0.6000000000000001pt;border-top:solid #000000 0.6000000000000001pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.44;text-align: center;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;{!endDateL}&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;border-left:solid #000000 0.6000000000000001pt;border-right:solid #000000 0.6000000000000001pt;border-bottom:solid #000000 0.6000000000000001pt;border-top:solid #000000 0.6000000000000001pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.44;text-align: center;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;{!statusL}&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;border-left:solid #000000 0.6000000000000001pt;border-right:solid #000000 0.6000000000000001pt;border-bottom:solid #000000 0.6000000000000001pt;border-top:solid #000000 0.6000000000000001pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.44;text-align: center;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;{!dayL}&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/div&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.656;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;Reason : {!reasonL}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.656;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.656;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Poppins, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;&quot;&gt;The Cloud Peritus Team&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Day value of Leave record</description>
        <name>dayL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.EMS_LM_Day__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Leave End date</description>
        <name>endDateL</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.EMS_LM_Leave_End_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Leave record Reason</description>
        <name>reasonL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.EMS_LM_Reason__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Start Date of Leave</description>
        <name>startDateL</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.EMS_LM_Leave_Start_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Leave record status</description>
        <name>statusL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.EMS_LM_Status__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>sub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Requesting for {!typeL} approval.</stringValue>
        </value>
    </variables>
    <variables>
        <name>typeL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.EMS_LM_Leave_Type__r.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>WorkLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>United States of America</stringValue>
        </value>
    </variables>
</Flow>
