force-app/main/default/flows/Send_Email_When_Leave_is_Edited.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_When_Leave_Request_is_Edited_Send_Email</name>
        <label>When Leave Request is Edited Send Email</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.When_Leave_Request_is_Edited_Send_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_When_Leave_Request_is_Edited_send_email_to_Lead_Approver_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMS_LM_Leave_History__c.When_Leave_Request_is_Edited_Send_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_When_Leave_Request_is_Edited_send_email_to_Lead_Approver_1</name>
        <label>Copy 1 of When Leave Request is Edited send email to Lead(Approver 1)</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Sent_Email_When_Leave_Request_is_Edited_to_Lead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMS_LM_Leave_History__c.Sent_Email_When_Leave_Request_is_Edited_to_Lead</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>When_Leave_Request_is_Edited_Send_Email1</name>
        <label>When Leave Request is Edited Send Email</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.When_Leave_Request_is_Edited_Send_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>When_Leave_Request_is_Edited_send_email_to_Lead_Approver_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMS_LM_Leave_History__c.When_Leave_Request_is_Edited_Send_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>When_Leave_Request_is_Edited_send_email_to_Lead_Approver_1</name>
        <label>When Leave Request is Edited send email to Lead(Approver 1)</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Sent_Email_When_Leave_Request_is_Edited_to_Lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>When_Leave_Request_is_Edited_Sent_Email_to_Lead_Approver_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMS_LM_Leave_History__c.Sent_Email_When_Leave_Request_is_Edited_to_Lead</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>When_Leave_Request_is_Edited_Sent_Email_to_Lead_Approver_1</name>
        <label>When Leave Request is Edited Sent Email to Lead(Approver 1)</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.Sent_Email_When_Leave_Request_is_Edited_to_PM_Approver_2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMS_LM_Leave_History__c.Sent_Email_When_Leave_Request_is_Edited_to_PM_Approver_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Send_Email_When_leave_Request_Is_Edited</name>
        <label>Send Email When Leave Request Is Edited</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Any_Field_In_Leave_Request_is_Updated</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Day__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Day__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_Type_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Reason__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Level_of_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Leave_Request_is_Edited_Send_Email1</targetReference>
            </connector>
            <label>IF Any Field In Leave Request is Updated and Level of Approval is 2</label>
        </rules>
        <rules>
            <name>If_Level_of_approval_is_1</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Leave_End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Leave_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Day__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Day__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leave_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Leave_Type_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EMS_LM_Reason__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Level_of_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_When_Leave_Request_is_Edited_Send_Email</targetReference>
            </connector>
            <label>If Level of approval is 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email When Leave is Edited {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email When Leave is Edited</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Leave_Request_Records</name>
        <label>Get Leave Request Records</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_When_leave_Request_Is_Edited</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EMS_LM_Leave_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leave_Request_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Leave_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Leave_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Work from Home</stringValue>
            </value>
        </filters>
        <object>EMS_LM_Leave_History__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
