force-app/main/default/flows/Send_Email_Based_On_Employee_Leave_Status1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Applied_Leave_Request</name>
        <label>Applied Leave Request</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>EMS_LM_Leave_History__c.EMS_LM_Applied_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Approver1_Leave_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Applied_Leave_request1</name>
        <label>Applied Leave request</label>
        <locationX>3218</locationX>
        <locationY>455</locationY>
        <actionName>EMS_LM_Leave_History__c.EMS_LM_Applied_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Approver_1_Leave_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Approver1_Leave_Request</name>
        <label>Approver1_Leave_Request</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Approver1_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Approver_2_Leave_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Approver_1_Leave_Request</name>
        <label>Approver 1 Leave Request</label>
        <locationX>3218</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Approver1_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Approver_2_Leave_Request</name>
        <label>Approver 2 Leave Request</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Approver_2_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Email_sent_to_lead_When_Employee_cancels_leave_request</name>
        <label>Copy 1 of Email sent to lead,When Employee cancels leave request</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_sent_to_lead_when_Employee_cancels_leave_request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Leave_approved_by_Lead_Email_sent_to_lead</name>
        <label>Leave approved by Approver1(Email to Approver1)</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.When_lead_approves_rejects_leave_request_of_employees_reporting_to_Lead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Leave_Cancelled</name>
        <label>Copy 1 of Leave_Cancelled</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Cancelled</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_sent_to_lead_Employee_cancels_leave_request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_leave_rejected_by_approver_1_Email_to_lead</name>
        <label>leave rejected by approver 1(Email to lead)</label>
        <locationX>2690</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.leave_rejected_by_approver_1_email_to_lead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_sent_to_lead_Employee_cancels_leave_request</name>
        <label>Email sent to lead,When Employee cancels leave request</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_sent_to_lead_when_Employee_cancels_leave_request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>If_Employee_cancels_leave_request_Email_sent_to_PM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_sent_to_Lead_on_approval_of_Emp_from_PM</name>
        <label>Email_sent_to_Lead_on_approval of Emp from PM</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_sent_to_Lead_on_approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Leave_Approved_By_PM_Email_To_PM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_sent_to_lead_when_Lead_approves_employee_request</name>
        <label>Leave approved by Lead(Email sent to lead)</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.When_lead_approves_rejects_leave_request_of_employees_reporting_to_Lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Leave_Approve_by_Lead_email_send_to_PM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>If_Employee_cancels_leave_request_Email_sent_to_PM</name>
        <label>If Employee cancels leave request(Email sent to PM)</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_sent_to_PM_when_Employee_cancels_leave_request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>IF_PM_rejects_the_leave_request_email_has_to_be_sent_to_Lead</name>
        <label>IF PM rejects the leave request email has to be sent to Lead</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.PM_rejects_the_leave_request_email_has_to_be_sent_to_Lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PM_rejects_the_leave_request_Email_to_PM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Approve_by_Lead_email_send_to_PM</name>
        <label>Leave Approve by Lead(email send to PM)</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Approve_by_Lead_email_send_to_PM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Approve_by_PM</name>
        <label>Leave Approve by PM(Email to Employee)</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Approve_by_the_PM_Approver_2_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_sent_to_Lead_on_approval_of_Emp_from_PM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Approve_by_the_Approver_1_Email_To_Employee</name>
        <label>Leave Approve by the Approver 1(Email To Employee)</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Approve_by_the_Lead_Approver_1_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Leave_approved_by_Lead_Email_sent_to_lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Approve_By_the_Lead</name>
        <label>Leave Approve By the Lead(Email to Employee)</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Approve_by_the_Lead_Approver_1_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_sent_to_lead_when_Lead_approves_employee_request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Approved_By_PM_Email_To_PM</name>
        <label>Leave Approved By PM(Email To PM)</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_sent_to_PM_on_approval_of_Emp_Leave_from_PM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Cancelled</name>
        <label>Leave_Cancelled</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Cancelled</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Email_sent_to_lead_When_Employee_cancels_leave_request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Rejected_by_2Approver</name>
        <label>Leave Rejected by Approver2</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Rejected_by_Approver_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IF_PM_rejects_the_leave_request_email_has_to_be_sent_to_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Rejected_By_approver1_1</name>
        <label>Leave Rejected By approver 1</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Rejected_By_Lead_approve_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_leave_rejected_by_approver_1_Email_to_lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Rejected_By_Approver_1</name>
        <label>Leave Rejected By Approver 1(Email to Employee)</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Rejected_By_Lead_approve_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>leave_rejected_by_approver_1_Email_to_lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>leave_rejected_by_approver_1_Email_to_lead</name>
        <label>leave rejected by approver 1(Email to lead)</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.leave_rejected_by_approver_1_email_to_lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Leave_rejected_by_approver_1_Email_to_PM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_rejected_by_approver_1_Email_to_PM</name>
        <label>Leave rejected by approver 1 (Email to PM)</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.leave_rejected_by_approver_1_email_to_PM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PM_rejects_the_leave_request_Email_to_PM</name>
        <label>PM rejects the leave request (Email to PM)</label>
        <locationX>2426</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.PM_rejects_the_leave_request_email_has_to_be_sent_to_PM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Level1_of_Approval</name>
        <label>Check Level of Approval</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_level_of1_Approval_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Level_of_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Approve_by_the_Approver_1_Email_To_Employee</targetReference>
            </connector>
            <label>If level of Approval is 1</label>
        </rules>
        <rules>
            <name>IF_Level_of2_Approval_is_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Level_of_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Approve_By_the_Lead</targetReference>
            </connector>
            <label>IF Level of Approval is 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Level_of_Approval</name>
        <label>Check Level of Approval</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_level_f_approval_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Level_of_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Cancelled</targetReference>
            </connector>
            <label>If level of approval is 1</label>
        </rules>
        <rules>
            <name>If_level_of_approval_is_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Level_of_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Leave_Cancelled</targetReference>
            </connector>
            <label>If level of approval is 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Leave_Rejected</name>
        <label>Leave Rejected</label>
        <locationX>2558</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Leave_Rejected_By_Approver1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Rejected_By_Approver_1</targetReference>
            </connector>
            <label>Leave Rejected By Approver1</label>
        </rules>
        <rules>
            <name>Leave_Rejected_By_Approver2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Rejected_by_2Approver</targetReference>
            </connector>
            <label>Leave Rejected By Approver2</label>
        </rules>
        <rules>
            <name>Leave_rejected_By_Approver_1_If_Level_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Rejected_By_approver1_1</targetReference>
            </connector>
            <label>Leave Rejected By Approver 1 If LevelofApprover is 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Leave_Status_Request</name>
        <label>Leave Status Request</label>
        <locationX>1766</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applied_Leave_Request</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Leave_Approved_By_Approver_1</name>
            <conditionLogic>(1 AND 4) OR (2 AND 3) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Level_of_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Level_of_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Level1_of_Approval</targetReference>
            </connector>
            <label>Leave Approved By Approver 1</label>
        </rules>
        <rules>
            <name>Leave_Approved_By_Approver_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Level_of_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Approve_by_PM</targetReference>
            </connector>
            <label>Leave Approved By Approver 2</label>
        </rules>
        <rules>
            <name>Leave_Request_is_Cancelled_by_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Level_of_Approval</targetReference>
            </connector>
            <label>Leave Request is Cancelled by User</label>
        </rules>
        <rules>
            <name>Leave_Request_is_rejected_either_by_Approver1_or_Approver2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Rejected</targetReference>
            </connector>
            <label>Leave Request is rejected either by Approver1 or Approver2</label>
        </rules>
        <rules>
            <name>IF_Level_of_Approval_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Level_of_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applied_Leave_request1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IF Level of Approval is 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email Based On Employee Leave Status1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Based On Employee Leave Status1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Leave_Status_Request</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 )AND 7</filterLogic>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approver 1 pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approver 2 Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>EMS_LM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Leave_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Work from Home</stringValue>
            </value>
        </filters>
        <object>EMS_LM_Leave_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
