force-app/main/default/flows/Send_pre_onboarding_form_for_edit_funtionality.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_pre_onboarding_form_mail</name>
        <label>Send pre onboarding form mail</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Contact.Send_Pre_Onboarding_Form_Mail</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_DOJ_less_than_10_days</name>
        <label>Check DOJ less than 10 days</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_DOJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateofJoiningLessThan10Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_pre_onboarding_form_mail</targetReference>
            </connector>
            <label>Check DOJ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateofJoiningLessThan10Days</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.EMS_EM_JD__c} &lt; ({!$Flow.CurrentDate} + 10)</expression>
    </formulas>
    <interviewLabel>Send pre onboarding form for edit funtionality {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send pre onboarding form for edit funtionality</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_DOJ_less_than_10_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Personal_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EMS_EM_JD__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
</Flow>
