force-app/main/default/flows/Send_KRA_remainder_Mail_to_Mentor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remainder_mail_to_reportee</name>
        <label>Remainder mail to reportee</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Goal__c.Remainder_mail_to_reportee_for_KRA_submission</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Notifying mentor when KRA is missed: Email Template</description>
        <name>Send_email_to_Mentor</name>
        <label>Send email to Mentor</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <actionName>Goal__c.KRA_Missed_Alert_2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_Resource</name>
        <label>Send email to Resource</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <actionName>Goal__c.KRA_Missed_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_email_to_Mentor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_KRA_reminder_mail_to_mentor</name>
        <label>Send KRA reminder mail to mentor</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>Goal__c.KRA_Remainder_mail_to_Mentor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_the_Days</name>
        <label>Check the Days</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Remainder_For_Reporte</name>
            <conditionLogic>(1 OR 2 OR 3 ) AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>CheckFisrtDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckSeventhDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckFiftinthDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Work_Location_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mentee_KRA_submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remainder_mail_to_reportee</targetReference>
            </connector>
            <label>Send Remainder For  Reporte</label>
        </rules>
        <rules>
            <name>Send_Remainder_Mail_to_Mentor</name>
            <conditionLogic>1 AND 5 AND 6 AND 7 AND 8 AND ( 2 OR 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChecksixteenthDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TweentyThridDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThirdayDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Work_Location_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mentor_KRA_submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mentee_KRA_submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_KRA_reminder_mail_to_mentor</targetReference>
            </connector>
            <label>Send Remainder Mail to Mentor</label>
        </rules>
        <rules>
            <name>Change_Status_to_Missed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last16day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Work_Location_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mentee_KRA_submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Missed</targetReference>
            </connector>
            <label>Change Status to Missed</label>
        </rules>
    </decisions>
    <description>Shubham: Updated flow to use Consideration_Date__c formula and modified Update Records conditon</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckFiftinthDay</name>
        <dataType>Date</dataType>
        <expression>IF(DAY({!$Record.Quarter_End_Date__c}) = 30,  {!$Record.Consideration_Date__c} - 15, {!$Record.Consideration_Date__c} - 16)</expression>
    </formulas>
    <formulas>
        <name>CheckFisrtDay</name>
        <dataType>Date</dataType>
        <expression>IF(DAY({!$Record.Quarter_End_Date__c}) = 30,  {!$Record.Consideration_Date__c} - 29,  {!$Record.Consideration_Date__c} - 30)</expression>
    </formulas>
    <formulas>
        <name>CheckSeventhDay</name>
        <dataType>Date</dataType>
        <expression>IF(DAY({!$Record.Quarter_End_Date__c}) = 30,  {!$Record.Consideration_Date__c} - 23,  {!$Record.Consideration_Date__c} - 24)</expression>
    </formulas>
    <formulas>
        <name>ChecksixteenthDay</name>
        <dataType>Date</dataType>
        <expression>IF(DAY({!$Record.Quarter_End_Date__c}) = 30,  {!$Record.Consideration_Date__c} - 14, {!$Record.Consideration_Date__c} - 15)</expression>
    </formulas>
    <formulas>
        <name>Dayofthemonth</name>
        <dataType>Number</dataType>
        <expression>DAY({!$Record.Quarter_End_Date__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Last16day</name>
        <dataType>Date</dataType>
        <expression>IF(DAY({!$Record.Quarter_End_Date__c}) = 30,  {!$Record.Consideration_Date__c} - 14,  {!$Record.Consideration_Date__c} - 15)</expression>
    </formulas>
    <formulas>
        <name>ThirdayDay</name>
        <dataType>Date</dataType>
        <expression>IF(DAY({!$Record.Quarter_End_Date__c}) = 30,  {!$Record.Consideration_Date__c} ,  {!$Record.Consideration_Date__c} - 1)</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TweentyThridDay</name>
        <dataType>Date</dataType>
        <expression>IF(DAY({!$Record.Quarter_End_Date__c}) = 30,  {!$Record.Consideration_Date__c} - 7,  {!$Record.Consideration_Date__c} - 8)</expression>
    </formulas>
    <interviewLabel>Send KRA remainder Mail to Mentor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send KRA remainder Mail to Mentor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Cancelling the PM ANSWER records which are not submitted,Rejected,Cancelled</description>
        <name>Cancel_PM_Answers</name>
        <label>Cancel PM Answers</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Send_email_to_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KRA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>PM_Configure__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Missed</name>
        <label>Update Status to Missed</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Cancel_PM_Answers</targetReference>
        </connector>
        <inputAssignments>
            <field>Mentee_KRA_submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mentor_KRA_submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Missed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Days</targetReference>
        </connector>
        <filterLogic>2 AND 4 AND (1 OR 3)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Check_In_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KRA Inreview</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resource__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Goal__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-20</startDate>
            <startTime>18:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
