force-app/main/default/flows/Send_Email_to_IT_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mail_for_Add_Email_to_Company_Mail_Group</name>
        <label>Mail for Add Email to Company Mail Group</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <actionName>Contact.Mail_for_Add_Email_to_Company_Mail_Group</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Mail_for_Add_Email_to_Company_Mail_Group</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_IT_For_Email_Creation</name>
        <label>Send Email to IT For Email Creation</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>Contact.Mail_for_Create_Official_Mail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mail_for_Add_Email_to_Company_Mail_Group</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Mail_for_Create_Official_Mail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_DOJ_Equals_Today</name>
        <label>Check DOJ Equals Today</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Joining_Date_Equals_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckDOJEqualsToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_IT_For_Email_Creation</targetReference>
            </connector>
            <label>Check Joining Date Equals Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckDOJEqualsToday</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.EMS_EM_JD__c} = {!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Send Email to IT Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email to IT Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_DOJ_Equals_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Personal_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EMS_EM_JD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-06</startDate>
            <startTime>23:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
