force-app/main/default/flows/Send_Pre_Onboarding_Form_Mail_If_Less_Than_10_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Pre_Onboarding_Form_Mail</name>
        <label>Send Pre-Onboarding Form Mail</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Contact.Send_Pre_Onboarding_Form_Mail</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_DOJ</name>
        <label>Check DOJ</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DOJ_Less_Than_10_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateofJoiningLessThan10Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Pre_Onboarding_Form_Mail</targetReference>
            </connector>
            <label>DOJ Less Than 10 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateofJoiningLessThan10Days</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.EMS_EM_JD__c} &lt; ({!$Flow.CurrentDate} + 10)</expression>
    </formulas>
    <interviewLabel>Send Pre-Onboarding Form Mail If Less Than 10 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Pre-Onboarding Form Mail If Less Than 10 Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_DOJ</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Personal_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EMS_EM_JD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
