force-app/main/default/flows/Timesheet_Due_mail_send_to_Employee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>remainder_mail</name>
        <label>remainder mail</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <actionName>Contact.timsheet_auto_remainder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_the_List_is_timesheet</name>
        <label>Check the List is timesheet</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Null_Send_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>remainder_mail</targetReference>
            </connector>
            <label>if Null Send Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Resource_Record_Type_Contacts</name>
        <label>Get Resource Record Type Contacts</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Resource_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_RecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TimesheetRecords</targetReference>
            </connector>
            <label>Get Resource Contacts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>WeekEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}  + 2</expression>
    </formulas>
    <formulas>
        <name>WeekstartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}  - 4</expression>
    </formulas>
    <interviewLabel>Timesheet Due mail send to Employee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Timesheet Due mail send to Employee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Resource_Record_Type_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordtypeNames</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TimesheetRecords</name>
        <label>TimesheetRecords</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_List_is_timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EMS_TM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EMS_TM_User__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Week_Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WeekstartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Week_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WeekEndDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EMS_Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Timesheet_NoNeed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EMS_TM_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-02-28</startDate>
            <startTime>02:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RcordTypeName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Resource&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMS_Timesheet__c</objectType>
    </variables>
    <variables>
        <name>RecordtypeNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Resource</stringValue>
        </value>
    </variables>
</Flow>
