force-app/main/default/flows/Update_Resource_Role_on_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>ResourceRolesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_RR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_RR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Skill_Values</name>
        <label>Update Skill Values</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Iterate_RR.Skills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormatedSkillSetValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FormatedSkillSetValue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!ModifiedSkillSetValue}  , &apos;,,&apos;, &apos;,&apos;)</expression>
    </formulas>
    <formulas>
        <name>ModifiedSkillSetValue</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!Iterate_RR.Skills__c}, &apos;,&apos; &amp; {!$Record.Name} &amp; &apos;,&apos;),
    SUBSTITUTE(
        SUBSTITUTE(
            {!Iterate_RR.Skills__c}, 
            {!$Record.Name} &amp; &apos;,&apos;, 
            &apos;&apos;
        ),
        &apos;,,&apos;, 
        &apos;,&apos;
    ),
    SUBSTITUTE(
        SUBSTITUTE(
            {!Iterate_RR.Skills__c}, 
            &apos;,&apos; &amp; {!$Record.Name}, 
            &apos;&apos;
        ),
        &apos;,,&apos;, 
        &apos;,&apos;
    )
)</expression>
    </formulas>
    <interviewLabel>Update Resource Role on Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Resource Role on Delete</label>
    <loops>
        <name>Iterate_RR</name>
        <label>Iterate RR</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Resource_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Skill_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Resource_Role</name>
        <label>Get Resource Role</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_RR</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Skills__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Skills__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Resource_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RR</name>
        <label>Update RR</label>
        <locationX>176</locationX>
        <locationY>803</locationY>
        <inputReference>ResourceRolesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Resource_Role</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Resource_Role__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resource_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Skill__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ResourceRolesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Role__c</objectType>
    </variables>
    <variables>
        <name>SkillsData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Iterate_RR.Skills__c</elementReference>
        </value>
    </variables>
</Flow>
