force-app/main/default/flows/Update_Resource_Role_on_Insert_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>ResourceRolestoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_RR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_RR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List2</name>
        <label>Add to List</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ResourceRolestoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_RR2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_RR2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Skill_Value</name>
        <label>Append Skill Value</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Iterate_RR.Skills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SkillData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Skill_Value</name>
        <label>Populate Skill Value</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Iterate_RR.Skills__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReplaceSkillName</name>
        <label>Replace Skill Name</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Iterate_RR2.Skills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedSkillSetValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blank</name>
        <label>IS Blank</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Populate_Skill_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_RR.Skills__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_RR.Skills__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_RR.Skills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Skill_Value</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Update</name>
        <label>Insert/Update</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Resource_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_RR</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Name_Changed</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Name_Changed</name>
        <label>Is Name Changed</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_RR2</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SkillData</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &apos;,&apos; &amp; {!Iterate_RR.Skills__c}</expression>
    </formulas>
    <formulas>
        <name>UpdatedSkillSetValue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!Iterate_RR2.Skills__c} , {!OldSkillName}, {!NewSkillName})</expression>
    </formulas>
    <interviewLabel>Update Resource Role on Insert and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Resource Role on Insert and Update</label>
    <loops>
        <name>Iterate_RR</name>
        <label>Iterate RR</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Resource_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Blank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_RR2</name>
        <label>Iterate RR</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Resource_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ReplaceSkillName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RR2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Resource_Role</name>
        <label>Get Resource Role</label>
        <locationX>490</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resource_Role__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Resource_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RR</name>
        <label>Update RR</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <inputReference>ResourceRolestoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RR2</name>
        <label>Update RR</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <inputReference>ResourceRolestoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Resource_Role</targetReference>
        </connector>
        <object>Skill__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewSkillName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>OldSkillName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record__Prior.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>ResourceRolestoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Role__c</objectType>
    </variables>
</Flow>
