force-app/main/default/flows/Update_Contact_Status_on_based_on_Probation_Notice_Period.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>ResourceRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Resource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Notice_Probation_Period</name>
        <label>Check Notice / Probation Period</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Date_is_After_Probation_Period_Last_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Probationary_Period_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_RM_ApplicantStatus_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active - Probation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResourceRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Field</targetReference>
            </connector>
            <label>Current Date is After Probation Period Last Day</label>
        </rules>
        <rules>
            <name>Current_Date_is_After_Last_Working_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_RM_Last_Working_day__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_RM_ApplicantStatus_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notice Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResourceRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Field_2</targetReference>
            </connector>
            <label>Current Date is After Last Working Date</label>
        </rules>
        <rules>
            <name>Current_Date_is_Less_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Probationary_Period_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResourceRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Field_3</targetReference>
            </connector>
            <label>Current Date is Less than Probation Period Last Day</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>LastNoticePeriodDate</description>
        <name>LastNoticePeriodDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() +  {!NoticePeriodDays}</expression>
    </formulas>
    <interviewLabel>Update Contact Status on based on Probation/Notice Period {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Status on based on Probation/Notice Period</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status_Field</name>
        <label>Update Status Field</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>EMS_RM_ApplicantStatus_Update__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Field_2</name>
        <label>Update Status Field</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>EMS_RM_ApplicantStatus_Update__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Field_3</name>
        <label>Update Status Field</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>EMS_RM_ApplicantStatus_Update__c</field>
            <value>
                <stringValue>Active - Probation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Notice_Probation_Period</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Probationary_Period_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-30</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NoticePeriodDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Resource_Role__r.Notice_Consider_Days__c</elementReference>
        </value>
    </variables>
</Flow>
