force-app/main/default/flows/Update_KRA_Rating_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Quarter</name>
        <label>Check Quarter</label>
        <locationX>911</locationX>
        <locationY>549</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Q1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FQ1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Q1_Rating</targetReference>
            </connector>
            <label>IF Q1</label>
        </rules>
        <rules>
            <name>IF_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FQ2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Q2_Rating</targetReference>
            </connector>
            <label>IF Q2</label>
        </rules>
        <rules>
            <name>IF_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FQ3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Q3_Rating</targetReference>
            </connector>
            <label>IF Q3</label>
        </rules>
        <rules>
            <name>IF_Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FQ4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Q4_Rating</targetReference>
            </connector>
            <label>IF Q4</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckKRAStatus</name>
        <label>CheckKRAStatus</label>
        <locationX>596</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_KRA_Status_is_KRA_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KRA Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quarter</targetReference>
            </connector>
            <label>If KRA Status is KRA Completed</label>
        </rules>
        <rules>
            <name>If_KRA_Status_is_InReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KRA Inreview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTheRatingField</targetReference>
            </connector>
            <label>If KRA Status is InReview</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update KRA Rating Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update KRA Rating Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordTypeID</name>
        <label>GetRecordTypeID</label>
        <locationX>584</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckKRAStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goal__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KRA</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Q1_Rating</name>
        <label>Update Q1 Rating</label>
        <locationX>478</locationX>
        <locationY>825</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fulfillment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q1_Rating__c</field>
            <value>
                <elementReference>$Record.Rating__c</elementReference>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q2_Rating</name>
        <label>Update Q2 Rating</label>
        <locationX>762</locationX>
        <locationY>802</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fulfillment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q2_Rating__c</field>
            <value>
                <elementReference>$Record.Rating__c</elementReference>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q3_Rating</name>
        <label>Update Q3 Rating</label>
        <locationX>1113</locationX>
        <locationY>804</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fulfillment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q3_Rating__c</field>
            <value>
                <elementReference>$Record.Rating__c</elementReference>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q4_Rating</name>
        <label>Update Q4 Rating</label>
        <locationX>1343</locationX>
        <locationY>703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fulfillment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q4_Rating__c</field>
            <value>
                <elementReference>$Record.Rating__c</elementReference>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTheRatingField</name>
        <label>UpdateTheRatingField</label>
        <locationX>474</locationX>
        <locationY>589</locationY>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>$Record.Overall_Average_Section_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRecordTypeID</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KRA Inreview</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KRA Completed</stringValue>
            </value>
        </filters>
        <object>Goal__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>It will get KRA RecordTypeId</description>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
