force-app/main/default/flows/Work_From_Home_Request_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approver1_approves_WFH_request_Email_To_Employee</name>
        <label>Approver1 approves WFH request (Email To  Employee)</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Approve_by_the_Lead_Approver_1_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>When_lead_approves_WFH_request_Email_To_Approver_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Approver1_approves_WFH_request_Email_To_Employee</name>
        <label>Copy 1 of Approver1 approves WFH request (Email To  Employee)</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Approve_by_the_Lead_Approver_1_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_When_lead_approves_WFH_request_Email_To_Approver_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Leave_cancelled_by_User_Email_To_Approver1</name>
        <label>Copy 1 of Leave cancelled by User(Email To Approver1)</label>
        <locationX>3218</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_sent_to_lead_when_Employee_cancels_leave_request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Sent_To_Apprpver2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Leave_cancelled_by_User_Email_to_employee</name>
        <label>Copy 1 of Leave cancelled by User(Email to employee)</label>
        <locationX>3218</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Cancelled</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Leave_cancelled_by_User_Email_To_Approver1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_WFH_rejected_by_approver_1_Email_To_Approver1</name>
        <label>Copy 1 of WFH rejected by approver 1(Email To Approver1)</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.leave_rejected_by_approver_1_email_to_lead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_When_lead_approves_WFH_request_Email_To_Approver_1</name>
        <label>Copy 1 of When lead approves WFH request (Email To Approver 1)</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.When_lead_approves_rejects_leave_request_of_employees_reporting_to_Lead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Applied_Leave_Request_Email_To_Employee</name>
        <label>Applied Leave Request(Email To Employee)</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.EMS_LM_Applied_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_3_of_Email_To_Approver_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Email_To_Approver_1</name>
        <label>Email To Approver 1</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Approver1_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_To_Approver2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Sent_To_Apprpver2</name>
        <label>Email Sent To Apprpver2</label>
        <locationX>3218</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_sent_to_PM_when_Employee_cancels_leave_request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_Approver2</name>
        <label>Email To Approver2</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.Approver_2_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_Approver_1</name>
        <label>Email To Approver 1</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Approver1_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_Employee</name>
        <label>Applied Leave Request(Email To Employee)</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.EMS_LM_Applied_Leave_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_To_Approver_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Approved_By_Approver2_Email_To_Employee</name>
        <label>Leave Approved By Approver2(Email To Employee)</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Approve_by_the_PM_Approver_2_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>WFH_approved_by_Approver2_Email_To_Approver</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_cancelled_by_User_Email_To_Approver1</name>
        <label>Leave cancelled by User(Email To Approver1)</label>
        <locationX>2954</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_sent_to_lead_when_Employee_cancels_leave_request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_cancelled_by_User_Email_to_employee</name>
        <label>Leave cancelled by User(Email to employee)</label>
        <locationX>2954</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Cancelled</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Leave_cancelled_by_User_Email_To_Approver1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Rejected_By_approve_1_Email_To_Employee</name>
        <label>Leave Rejected By approve 1(Email To Employee)</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Rejected_By_Lead_approve_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>WFH_rejected_by_approver_1_Email_To_Approver1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Rejected_By_Approver1_Email_To_Approver1</name>
        <label>Leave Rejected By Approver1(Email To Approver1)</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Rejected_By_Lead_approve_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_WFH_rejected_by_approver_1_Email_To_Approver1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>leave_rejected_by_approver_1_Email_To_Approver_2</name>
        <label>leave rejected by approver 1(Email To Approver 2)</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.leave_rejected_by_approver_1_email_to_PM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Leave_Rejected_by_Approver_2_Email</name>
        <label>Leave Rejected by Approver 2(Email To Employee)</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.Leave_Rejected_by_Approver_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>WFHis_Rejected_By_Approver2_Email_To_Approver1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PM_rejects_the_leave_request_email_has_to_be_sent_to_PM</name>
        <label>PM rejects the leave request email has to be sent to PM</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.PM_rejects_the_leave_request_email_has_to_be_sent_to_PM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>WFH_approved_by_Approver2_Email_To_Approver</name>
        <label>WFH approved by Approver2(Email To Approver)</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_sent_to_Lead_on_approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>WFH_approved_By_Approver2_Email_To_Approver2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>WFH_approved_By_Approver2_Email_To_Approver2</name>
        <label>WFH approved By Approver2(Email To Approver2)</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <actionName>EMS_LM_Leave_History__c.Email_sent_to_PM_on_approval_of_Emp_Leave_from_PM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>WFH_rejected_by_approver_1_Email_To_Approver1</name>
        <label>WFH rejected by approver 1(Email To Approver1)</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.leave_rejected_by_approver_1_email_to_lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>leave_rejected_by_approver_1_Email_To_Approver_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>WFHis_Rejected_By_Approver2_Email_To_Approver1</name>
        <label>WFH is Rejected By Approver2(Email To Approver1)</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <actionName>EMS_LM_Leave_History__c.PM_rejects_the_leave_request_email_has_to_be_sent_to_Lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PM_rejects_the_leave_request_email_has_to_be_sent_to_PM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>When_lead_approves_WFH_request_Email_To_Approver_1</name>
        <label>When lead approves WFH request (Email To Approver 1)</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <actionName>EMS_LM_Leave_History__c.When_lead_approves_rejects_leave_request_of_employees_reporting_to_Lead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Duration</name>
        <label>Check Duration</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status1_is_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EMS_LM_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_To_Employee</targetReference>
            </connector>
            <label>If Status is Pending</label>
        </rules>
        <rules>
            <name>If_Status_is_Approver_1_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EMS_LM_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Applied_Leave_Request_Email_To_Employee</targetReference>
            </connector>
            <label>If Status is Approver 1 Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Approved</name>
        <label>If Status is Approved</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_there_is_1_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approver1_approves_WFH_request_Email_To_Employee</targetReference>
            </connector>
            <label>If there is 1 Approver</label>
        </rules>
        <rules>
            <name>If_There_are_2_Approvers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Approved_By_Approver2_Email_To_Employee</targetReference>
            </connector>
            <label>If There are 2 Approvers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>2030</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_status_is_Pending</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Duration</targetReference>
            </connector>
            <label>If status is Pending Or Approver1 pending</label>
        </rules>
        <rules>
            <name>If_Status_is_Approver_2_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver1_approves_WFH_request_Email_To_Employee</targetReference>
            </connector>
            <label>If Status is Approver 2 pending</label>
        </rules>
        <rules>
            <name>If_Status_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Approved</targetReference>
            </connector>
            <label>If Status is Approved</label>
        </rules>
        <rules>
            <name>IF_status_is_rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IF_rejected_by_Approver_1_Approver2</targetReference>
            </connector>
            <label>IF Status is rejected</label>
        </rules>
        <rules>
            <name>If_Leave_Request_is_Cancelled</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee - HR(Community)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_leave_cancelled_by_User</targetReference>
            </connector>
            <label>If Leave Request is Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_leave_cancelled_by_User</name>
        <label>If leave cancelled by User</label>
        <locationX>3218</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected_By_User</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_cancelled_by_User_Email_to_employee</targetReference>
            </connector>
            <label>If Leave Cancelled based on status</label>
        </rules>
        <rules>
            <name>If_leave_is_Cancelled_based_on_Status2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Leave_cancelled_by_User_Email_to_employee</targetReference>
            </connector>
            <label>If leave is Cancelled based on Status2</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_rejected_by_Approver_1_Approver2</name>
        <label>IF rejected by Approver 1/Approver2</label>
        <locationX>2294</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected_By_Approver1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 1 pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Rejected_By_approve_1_Email_To_Employee</targetReference>
            </connector>
            <label>Rejected By Approver1</label>
        </rules>
        <rules>
            <name>Rejected_By2_Approver1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approver 2 Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_2nd_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Rejected_by_Approver_2_Email</targetReference>
            </connector>
            <label>Rejected By Approver2</label>
        </rules>
        <rules>
            <name>If_level_of_Approver_is_1_Rejected_by_Approver_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EMS_LM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMS_LM_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leave_Rejected_By_Approver1_Email_To_Approver1</targetReference>
            </connector>
            <label>If level of Approver is 1 Rejected by Approver 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Work From Home Request Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work From Home Request Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Leave_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work from Home</stringValue>
            </value>
        </filters>
        <object>EMS_LM_Leave_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
